extends ../app/templates/map

block map
  //- Страницы
  - 
    var pages = [
      ["index", "Главная"],
    ]
  
  //- Секции
  +map-pages
  +map-typography
  +map-content
  +map-buttons
  +map-icons
  +map-small-parts
  +map-form-fields
  +map-form-fields-code
  +map-form-fields-rate
  +map-form-fields-file
  +map-form-fields-select
  +map-form-checkbox
  +map-form-search
  +map-form-validation
  +map-table-default
  +map-embedded-youtube