mixin map-content
  section#content(
    data-group="Общее"
    data-name="Контентная область",
  )
    .container.ui-kit__container
      .content-box
        .text-lead С другой стороны выбранный нами инновационный путь требует анализа дальнейших направлений развития. Значимость этих проблем настолько очевидна, что повышение уровня гражданского сознания требует определения и уточнения укрепления демократической системы.
        h2 Заголовок 1
        p Прежде всего новая модель организационной деятельности позволяет выполнять важные задания по разработке укрепления демократической системы. Не вызывает сомнений, что начало повседневной работы по формированию позиции требует от нас анализа системы массового участия.
        p Не следует, однако, забывать, что понимание сущности ресурсосберегающих технологий напрямую зависит от дальнейших направлений развития. С другой стороны социально-экономическое развитие способствует подготовке и реализации экономической целесообразности принимаемых изменений.
        p Не следует, однако, забывать, что реализация намеченных плановых заданий способствует подготовке и реализации системы обучения кадров, соответствующей насущным потребностям. Равным образом новая модель организационной деятельности обеспечивает актуальность позиции, занимаемых участниками в отношении поставленных задач.
        h2 Заголовок 2
        p Следует отметить, что постоянное информационно-пропогандистское обеспечение нашей деятельности требует от нас анализа направлений прогрессивного развития.
        ul 
          li Равным образом 
          li постоянный количественный рост
          li сфера нашей активности позволяет 
          li оценить значение 
          li укрепления демократической системы.
        p Следует отметить, что постоянное информационно-пропогандистское обеспечение нашей деятельности требует от нас анализа направлений прогрессивного развития.
        ol 
          li Равным образом 
          li постоянный количественный рост
          li сфера нашей активности позволяет 
          li оценить значение 
          li укрепления демократической системы.