mixin map-embedded-youtube
  section#embedded-youtube(
    data-group="Встраиваемое"
    data-name="Youtube-плеер",
  )
    .container.ui-kit__container
      +youtube({
        id: "yhS9LnDoo_w"
      })