mixin map-form-fields-file
  section#form-fields-file(
    data-group="Формы"
    data-name="Добавление файла",
  )
    .container.ui-kit__container
      .ui-block 
        +field-file
      .ui-block 
        +field-image