mixin map-table-default
  section#tables(
    data-group="Таблицы"
    data-name="Обычная таблица",
  )
    .container.ui-kit__container
      .ui-block 
        h2 Обычная таблица
        table
          thead 
            tr 
              th # 
              th Heading
              th Heading
              th Heading
          tbody 
            tr 
              th 1
              td Cell
              td Cell
              td Cell
            tr 
              th 2
              td Cell
              td Cell
              td Cell
            tr 
              th 3
              td Cell
              td Cell
              td Cell
            tfoot 
              tr 
                th Tfoot
                td Cell
                td Cell
                td Cell
            
      .ui-block 
        h2 Таблица с обёрткой
        .table-wrapper
          table
            thead 
              tr 
                th # 
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
                th Heading
            tbody 
              tr 
                th 1
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr 
                th 2
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell