extends ../app/templates/default

block vars
  - var title = "Главная страница"
  - var noHeader = false
  - var noFooter = false

block body
  section 
    .container
      h1.mb-5.mb-sm-3.mt-5 Однако здравствуйте!
      p Всё работает как надо!

block modals

block scripts