mixin pagination(data={})
  ul.pagination.reset-list(class=data.className)
    li 
      span._active 1
    li 
      a(href="#") 2
    li 
      a(href="#") 3
    li
      a(href="#") 4
    li.d-md-none 
      a(href="#") 5
    li.d-md-none 
      a(href="#") 6
    li
      span ...
    li 
      a(href="#") 99
    li 
      a(href="#") 100